*.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_DA.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_DE.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_E*.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_F*.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_HU.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_IT.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_L*.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_NL.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_PL.tar.gz filter=lfs diff=lfs merge=lfs -text
EN_PT.tar.gz filter=lfs diff=lfs merge=lfs -text
